@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #D9C3A9; */
    height: 100vh;
    background-image: linear-gradient(90deg, #262626 0%, #BFAB93 20%, #D9C3A9 50%, #BFAB93 80%, #262626 100%);
    overflow: hidden;
}

h1 {
    margin-top: 250px;
    text-align: center;
    color: #262626;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    background-color: #735B46;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0 #262626;
}

.info-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 350px;
    background-color: rgba(115, 91, 70, 0.5);
    color: #262626;
    border-radius: 20px 20px 0 0;
    opacity: 0;
    transition: .3s linear;
}

h4 {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateY(-50%);
}

.container.play .info-container {
    opacity: 1;
    transform: translate(-50%, -100%);
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: #D9C3A9;
    height: 4px;
    width: 55%;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.progress {
    background-color: #262626;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width .1s linear;
}

.img-container {
    position: absolute;
    top: -40px;
    left: 30px;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
}

.img-container::after {
    content: "";
    background-color: #262626;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.play .img-container {
    animation-play-state: running;
}

img {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: 2px solid #262626;
    object-fit: cover;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.controls {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    display: flex;
}

button {
    margin: 0 15px;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    color: #262626;
    cursor: pointer;
}

button.big {
    font-size: 2em;
}

button:focus {
    outline: 0;
}